#create-data
{
    width: 100%;
    /* margin-left: 1%; */
    background-color: #222222;
    height: 30em;
    display: none;
    position: relative;
}

#create-data .data-sources>ul
{
    list-style: none;
    padding: 0px
}

#create-data .data-sources>ul>li
{
    list-style: none;
    padding: 5px 1em 5px 1em;
    color: #aaaaaa;
}

#create-data .data-sources>ul>li:hover
{
    background-color: #333333;
    /* list-style: none;
    padding: 5px 1em 5px 1em; */
    color: white;
    
}

#create-data .footer
{
    height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #353535;
}

#create-data .footer .add-btn
{
    height: 100%;
    width: 2em;
    float: right;
    background-color: #222222;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0px;
    background: url("../assets/add.png") no-repeat center;
    /* padding-bottom: 0.5em; */
    background-size: contain;
}

#create-data .footer .automate-btn
{
    height: 100%;
    width: 2em;
    float: right;
    background-color: #222222;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0px;
    background: url("../assets/automate.png") no-repeat center;
    /* padding-bottom: 0.5em; */
    background-size: contain;
    
}

#add-data-form
{
    height: 60%;
    width: 80%;
    margin-top: 20%;
    margin-left: 10%;
    background-color: #222222;
    color: white;
    padding: 1.5em;
    position: relative;
}

#add-data-form .data-name-label
{
    
}

#add-data-form .data-name-input
{
    background-color: transparent;
    font-size: 2em;
    border: none;
    border-bottom: 1px solid #aaa;
    color: white;
    /* float: left; */
    width: 50%;
    margin-bottom: 1em;
}

#add-data-form .data-name-input:focus,#add-data-form .data-name-input:active
{
    /* background-color: transparent;
    font-size: 2em; */
    border: none;
    border-bottom: 1px solid #aaa;
    /* color: white; */
}

#add-data-form .data-form-create
{
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #2177bd;
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 2px;
    width: 15em;
    position: absolute;
    right: 1em;
    bottom: 5%;
}

#add-data-form .data-files
{
    background-color: #202020;
    width: 50%;
    height: 75%;
    float: left;
    border: 1px solid #232323;
}

#add-data-form .data-features
{
    background-color: transparent;
    width: 50%;
    height: 60%;
    float: right;
    overflow: scroll;
    /* border: 1px solid #232323; */
}

#add-data-form .data-files>ul
{
    padding: 0em 0px 1em 0px;
}

#add-data-form .data-files>ul>li
{
    padding: 5px 1em 5px 1em;
    color: #aaaaaa;
    cursor: pointer;
}

#add-data-form .data-features>ul>li
{
    padding: 8px 1.2em 8px 1.2em;
    background-color: #2177bd;
    color: white;
    cursor: pointer;
    border-radius: 2em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    width: fit-content;
}

#add-data-form .data-files>ul>li.active
{
    /* padding: 5px 2px 5px 2px; */
    background-color: #222222;
    color: #ffffff;
}

#add-data-form .data-files>ul>li:hover
{
    /* padding: 5px 2px 5px 2px; */
    background-color: #222222;
    color: #ffffff;
}

#add-data-form .data-name-input-warning
{
    position: absolute;
    color: white;
    background: #aa0000;
    padding: 0.2em;
    margin-top: -2em;
    visibility: hidden;
    margin-bottom: 0.5em;
}