#create-layers
{
    width: 98%;
    margin-left: 1%;
    background-color: #222222;
    height: 30em;
    display: none;
    position: relative;
}

#create-layers .footer
{
    height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #353535;
}

#create-layers .footer .add-btn
{
    height: 100%;
    width: 2em;
    float: right;
    background-color: #222222;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0px;
    
}

#create-layers .footer .add-btn
{
    height: 100%;
    width: 2em;
    float: right;
    background-color: #222222;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0px;
    background: url("../assets/add.png") no-repeat center;
    /* padding-bottom: 0.5em; */
    background-size: contain;
}

#create-layers .layers
{
    overflow: scroll;
    height: 100%;
}

#create-layers .layers>ul
{
    list-style: none;
    padding: 0px;
    height: calc(100% - 2em);
    overflow: scroll;
}

#create-layers .layers>ul>li
{
    list-style: none;
    padding: 0px 1em 0px 0em;
    color: #aaaaaa;
    cursor: pointer;
    display: flex; 
    border-bottom: 1px solid rgb(48, 48, 48);
}

#create-layers .layers ul>li.layer-name:hover
{
    background-color: rgba(0, 119, 255, 0.1);
    /* list-style: none;
    padding: 5px 1em 5px 1em; */
    color: white;
    
}

#create-layers .layers li.templates li:hover
{
    background-color: rgba(0, 119, 255, 0.1);
    /* list-style: none;
    padding: 5px 1em 5px 1em; */
    color: white;
    
}

#create-layers .layers li.templates
{
    /* width: 100%; */
    padding: 0px;    
}

#create-layers .layers li.templates ul
{
    width: 100%;
    padding: 0px;
    
}


#create-layers .layers li.templates li
{
    border-bottom: 1px solid rgb(59, 59, 59);
}

#create-layers .layers li.templates ul p
{
    
    padding-left: 5em;
    
}

#create-layers .layers li.templates .icon-container
{
    
    border-right: 1px solid rgb(59, 59, 59);
    border-left: none;
    
}

#create-layers .layers>ul>li.active
{
    background-color: rgba(0, 119, 255, 0.1);
    /* list-style: none;
    padding: 5px 1em 5px 1em; */
    color: white;
}

/* #create-layers .layers>ul>li.active .caret
{
    transform: rotate(90deg)
} */

.extensions
{
    /* background-color: #333333; */
    width: 80%;
    /* margin-left: 10%; */
    /* margin-top: 0.5em; */
    /* height: 3em; */
    /* border-radius: 5px; */
}

.extensions button
{
    height: 2.5em;
    width: 2.5em;
    border: 1px solid #777777;
    border-radius: 5px;
    background-color: transparent;
    margin: 0.2em;
    padding: 0px;
    display: flex;
    text-align: center;
    float: left;
}

.extensions button:hover
{
    background-color: #444444;
}

.extensions button>img
{
    height: auto;
    width: 60%;
    margin: auto;
    /* margin-left: 10%; */
    
}

/* .extensions:hover
{
    background-color: #444444;
    border: 1px solid #888888;

} */


.extensions select
{
    background-color: transparent;
    color: white;
    font-size: 1em;
    border: none;
    width: 80%;
    margin-left: 10%;
    height: 2em;
    margin-top: 0.4em;

    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
}

.extensions select:focus
{
    outline: none;
}

#templates
{
    overflow-y: scroll;
    max-height: 90vh;
    padding-bottom: 2em;
}

#LayerView p.panel-title
{
    /* margin-left: 10%; */
    color: #aaaaaa;
    font-family: 'Helvetica Bold';
    /* font-weight: 600; */
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0px;


}

#LayerView>hr
{
    width: 80%;
    margin-left: 10%;
}
#LayerView .add-template-btn
{
    background-color: #222222;
    color: white;
    float: right;
    border: #444444;
    margin-right: 10%;
}

#LayerView .add-template-btn:hover
{
    background-color: #444444;
    /* color: white;
    float: right; */
    border: #666666;
    /* margin-right: 10%; */
}

#create-layers .layers>ul>li>img.eye
{
    height: 1.5em;
    width: auto;
    margin-right: 0.5em;
    float: left;
    padding-top: 0.4em;
}

/* #create-layers .layers>ul>li>img.lock
{
    width: 0.7em;
    padding-top: 0.6em;
    height: auto;
    margin-right: 0.5em;
    float: left;
    
}

#create-layers .layers>ul>li>img.caret
{
    width: 0.7em;
    height: auto;
    margin-right: 0.5em;
    float: left;
    padding-top: 4px;
}

#create-layers .layers>ul>li>.layer-ribbon
{
    width: 0.2em;
    height: 100%;
    background-color: red;
    float: left;
} */

#create-layers .layers>ul>li>div>p
{
    /* height: 2.2em; */
    /* border-left: 4px solid red; */
    /* padding-left: 1em; */
    font-size: 0.9em;
    /* padding-top: 0.1em; */
    /* margin: auto; */
    margin-top: auto;
    margin-bottom:auto;
    padding-left: 1em;

}

.eye
{
    height: 1.2em;
    width: auto;
    /* padding-top: 6px; */
}

.lock
{
    height: 0.85em;
    width: auto;  
    /* padding-top: 6px; */

}

.caret
{
    height: 0.75em;
    width: auto;
    /* padding-top: 6px; */
    margin-top: -2px;
}

.icon-container
{
    float: left;
    width: 2em;
    height: 2em;
    border-right: 1px solid rgb(59, 59, 59);
    position: relative;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 6px;


}

.layer-name-container
{
    display: flex;
    border-left: 4px solid red;
}

.expanded.caret
{
    transform: rotate(90deg)
}