#create-layers
{
    width: 98%;
    margin-left: 1%;
    background-color: #222222;
    height: 30em;
    display: none;
    position: relative;
}

#create-layers .footer
{
    height: 2em;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #353535;
}

#create-layers .footer .add-btn
{
    height: 100%;
    width: 2em;
    float: right;
    background-color: #222222;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0px;
    
}

#create-layers .footer .add-btn
{
    height: 100%;
    width: 2em;
    float: right;
    background-color: #222222;
    font-size: 1.2em;
    color: white;
    border: none;
    padding: 0px;
    background: url("../assets/add.png") no-repeat center;
    /* padding-bottom: 0.5em; */
    background-size: contain;
}

#create-layers .layers>ul
{
    list-style: none;
    padding: 0px
}

#create-layers .layers>ul>li
{
    list-style: none;
    padding: 5px 1em 5px 1em;
    color: #aaaaaa;
    cursor: pointer;
}

#create-layers .layers>ul>li:hover
{
    background-color: #333333;
    /* list-style: none;
    padding: 5px 1em 5px 1em; */
    color: white;
    
}

#create-layers .layers>ul>li.active
{
    background-color: #333333;
    /* list-style: none;
    padding: 5px 1em 5px 1em; */
    color: white;
}

#Extensions
{
    background-color: #333333;
    width: 80%;
    margin-left: 10%;
    /* margin-top: 0.5em; */
    height: 3em;
    border-radius: 5px;
}

#Extensions:hover
{
    background-color: #444444;
    border: 1px solid #888888;

}


#Extensions select
{
    background-color: transparent;
    color: white;
    font-size: 1em;
    border: none;
    width: 80%;
    margin-left: 10%;
    height: 2em;
    margin-top: 0.4em;

    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0px;
}

#Extensions select:focus
{
    outline: none;
}

#LayerView p.panel-title
{
    margin-left: 10%;
    color: #aaaaaa;
    font-family: 'Helvetica Bold';
    /* font-weight: 600; */
    margin-top: 1em;
    margin-bottom: 0.35em;

}